doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
        li: a(href='/') Home
        li: a(href='/services') Our Services
        li: a(href='/contact') Contact Us
    block content
